{{#each articles}}
<div class="card">
    <div class="card_title">
        <a class="link" href="https://www.nature.com{{link}}" target="_blank">{{title}}</a>
        <div class="remove_btn" id="{{_id}}">Remove Article</div>
        <div class="addNote_btn" id="{{_id}}">View Notes</div>
    </div>

    <div class="card_summary">
        {{summary}}
    </div>
</div>
<br />
{{/each}}

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="close">x</div>
        <div class="notesDiv">
            <div id="modalNote">
                <div id="modalTitle">
                    Notes for Article:
                    <div class="articleID"></div>
                </div>
                <div id="notes"></div>
                <div id="addNote">Click to Add Note</div>
            </div>
            <div class="addNoteDiv">
                <form>
                    <div class="inputTitle">Title: <input class="titleInput" placeholder="Note Title"></div>
                    <div class="inputBody">Body: <input class="bodyInput" placeholder="Note Body"></div>
                    <div class="saveBtn">Save Note</div>
                </form>
            </div>
        </div>
    </div>